<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABLF1-bmwqIqHXriRgZQ7U3DW3WKhvarg</string>
	<key>GCM_SENDER_ID</key>
	<string>945878196766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erkol.flirtWise</string>
	<key>PROJECT_ID</key>
	<string>flirtwise-d42bc</string>
	<key>STORAGE_BUCKET</key>
	<string>flirtwise-d42bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945878196766:ios:c2c958c474dc8cd23dc40f</string>
</dict>
</plist>